# Introduction

In this notebook, I'll show the RecSys and what it can do

In [1]:
import sys
sys.path.append('../')
from src.recsys.recommender import Recommender

In [2]:
recommender = Recommender('../data/interim/u.data', '../data/interim/u.item', '../models/knn_recsys', '../data/interim/u.genre', max_iter=5)

My class supports user and movie history tracking, such as the most popular genres, top user-rated movies, and most viewed movies.

In [3]:
recommender.get_user_most_popular_genres(3)

   genreId genreName  moviesNum
0        8     Drama          8
1       16  Thriller          5
2       13   Mystery          4
3        6     Crime          4
4        1    Action          3

In [4]:
recommender.get_user_best_films(3, n=10)

   movieId                                         movieTitle  rating
0      346                                Jackie Brown (1997)       5
1      340                               Boogie Nights (1997)       5
2      347                                 Wag the Dog (1997)       5
3      328                           Conspiracy Theory (1997)       5
4      320  Paradise Lost: The Child Murders at Robin Hood...       5
5      321                                      Mother (1996)       5
6      348                          Desperate Measures (1998)       4
7      344                                Apostle, The (1997)       4
8      181                          Return of the Jedi (1983)       4
9      329                          Desperate Measures (1998)       4

In [5]:
recommender.get_most_popular_films()

   movieId                 movieTitle  viewsNum
0       50           Star Wars (1977)       583
1      258             Contact (1997)       509
2      100               Fargo (1996)       508
3      181  Return of the Jedi (1983)       507
4      294           Liar Liar (1997)       485

It also supports adding new users; first, the most popular movies will be shown as recommendations, and after several ratings, personalized recommendations will be shown.

In [6]:
recommender.add_user(944)

In [7]:
recommender.add_rating(944, 100, 5)
recommender.get_recs(944)

   movieId                   movieTitle
0       50             Star Wars (1977)
1      258               Contact (1997)
2      181    Return of the Jedi (1983)
3      294             Liar Liar (1997)
4      286  English Patient, The (1996)

In [8]:
recommender.add_rating(944, 50, 5)
recommender.get_recs(944)

   movieId                   movieTitle
0      258               Contact (1997)
1      181    Return of the Jedi (1983)
2      294             Liar Liar (1997)
3      286  English Patient, The (1996)
4      288                Scream (1996)

In [9]:
recommender.add_rating(944, 1420, 5)
recommender.get_recs(944)

   movieId                   movieTitle
0      258               Contact (1997)
1      181    Return of the Jedi (1983)
2      294             Liar Liar (1997)
3      286  English Patient, The (1996)
4      288                Scream (1996)

In [10]:
recommender.add_rating(944, 294, 5)
recommender.get_recs(944)

   movieId                   movieTitle
0      258               Contact (1997)
1      181    Return of the Jedi (1983)
2      286  English Patient, The (1996)
3      288                Scream (1996)
4        1             Toy Story (1995)

In [11]:
recommender.add_rating(944, 288, 5)
recommender.get_recs(944)

   movieId                                  movieTitle
0      814               Great Day in Harlem, A (1994)
1     1122              They Made Me a Criminal (1939)
2     1189                          Prefontaine (1997)
3     1201  Marlene Dietrich: Shadow and Light (1996)
4     1293                             Star Kid (1997)

So, after 5 ratings, RecSys provides a personalized recommendations